.gameBoard {
    border-spacing: 0;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 0;
    margin: 0;
}

.btn-group {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


.divider {
    width: 15px;
    height: auto;
    display: inline-block;
}

.cellDiv {
    width: 27px;
    height: 27px;
}

.slider {
    margin-bottom: 20px;

}

.config {
    margin: auto;
    display: table;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    background: rgba(216, 255, 252, 0.5);
}

.label {
    margin: 10px;
}

